.body{
  width: 100%;

}
.row{
  display: grid !important;
  display: -ms-grid !important;
  
  
  
}
.sidebar {
  flex-direction: column-reverse;
  grid-column-start: 1;
  grid-column-end: 2;
  margin:  0;
  background-color: #f1f1f1;
  flex-direction: column ;
  display: flex;
  height: 100%;
  overflow: auto;
  @media screen and (max-width: 850px) {
    grid-column-start: 1;
    grid-column-end: 10;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
  }
}

.sidebar  {ul {li
  {
    @media screen and (max-width: 850px) {
    font-size: 10px;
    line-height: normal;
    margin: 0px;
    padding: 0px 0px 0px 5px;
    margin-bottom: 10px;
  } 
   div {
  display: block;
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size:   medium;
  padding: 16px 8px;
  margin-top: 10px;
  text-decoration: none;
  &:hover {
    background-color: #ecef;
    color: black;
  }
  @media screen and (max-width: 850px) {
    font-size: 15px;
    line-height: normal;
    margin: 10px;
    padding: 10px ;
    &:hover {
      background-color:  #0076a7;
      color: white;
      
    }
  }
}}}}

.active {
  background-color: white;
  color: black !important;
  @media screen and (max-width: 850px){
    background-color: #0076a7;
    color: white !important;
  }
}

.content {
  grid-column-start: 2;
  grid-column-start: 8;
  padding:  16px;
  margin: 10px;
  height: 90vh;
  overflow-y: scroll !important;
  overflow-x: hidden;

  @media screen and (max-width: 800px){
    grid-column-start: 1;
    grid-column-end: 10;
    width: 100%;
    margin: 10px 0px 0px 0px;
    padding-left: 10px;
    
    h3{
      font-size: large;
      font-weight: bold;
    }
    p{
      margin-left: 5px;
    }
  }
  p{
    margin-bottom: 10px;
    // font-size: medium;
    font-weight: normal;
  }
  h5{
    margin-top: 10px;
  }
  
}

.content::-webkit-scrollbar {
  width: 0px;
}


